@using System;
@using System.Collections.Generic;
@using System.Data;
@using System.Data.SqlClient;
@using System.IO;
@using System.Linq;
@using System.Web;
@using System.Web.Configuration;
@{
    ViewBag.Title = "ManageProducts";
}
<
<link rel="stylesheet" href="~/Content/showProduct.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        background-image: url('../../photos/alpha-revamped-mobile-legends-wallpaper-hd.jpg');
        background-size: cover;
        background-position: center center;
    }
</style>
<html>
<body>
    <link href="~/fonts/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/style.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("A's E-Game Shop", "AdminView", "Home", new { area = "AdminView" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li>@Html.ActionLink("Manage Product", "ManageProducts", "Home")</li>
                    <li><a href=""></a></li>
                    <li>@Html.ActionLink("Product Entry", "ProductEntry", "Home")</li>
                    <li><a href=""></a></li>
                    <li>@Html.ActionLink("Update Product", "UpdateProduct", "Home")</li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a><span class="badge">Hi! Admin Alex</span></a></li>
                    <li><a href=""></a></li>
                    <li><a href="@Url.Action("LogOut","Home")">Log Out</a></li>

                </ul>

            </div>
        </div>
    </div>
    @{
        string connDB = WebConfigurationManager.ConnectionStrings["connDB"].ConnectionString;
        using (var db = new SqlConnection(connDB))
        {
            db.Open();
            using (var cmd = db.CreateCommand())
            {
                cmd.CommandType = CommandType.Text;
                cmd.CommandText = "SELECT * FROM ITMTBL";
                using (var reader = cmd.ExecuteReader())
                {
                    if (reader.HasRows)
                    {

                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-10 col-md-offset-1 mx-auto">

                                    <div class="section-title mb-50">
                                        <span></span>
                                        <h2 style="color:white;">Create and Manage</h2>
                                    </div>


                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th style="color:white;">Product</th>
                                                <th style="color:white;">Quantity Onhand</th>
                                                <th style="color:white;" >Price</th>
                                                <th style="color:white;" class="text-center">Date Added</th>
                                                <th style="color:white;" class="text-center">Category</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            @while (reader.Read())
                                            {

                                                <tr id="items">
                                                    <td class="col-sm-8 col-md-6">
                                                        <div class="media">
                                                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="../Home/Image?filename=@HttpUtility.UrlEncode(reader["ITMIMG"]+"")" style="width: 72px; height: 72px;"> </a>
                                                            <div class="media-body">
                                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                <h4 class="itmnum media-heading text-monospace text-center">@reader["ITMNUM"]</h4>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-sm-1 col-md-1" style="text-align: center">
                                                        <div class="media">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <div class="media-body">
                                                                <h4 class="itmnum media-heading  text-center text-primary">@reader["ITMONHAND"] qty</h4>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td id="price" class="col-sm-1 col-md-1 text-center">
                                                        <div class="media">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <div>
                                                                <strong><span>₱</span>@reader["ITMPRICE"]</strong>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td id="price" class="col-sm-1 col-md-1 text-center">
                                                        <div class="media">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <div>
                                                                <strong>@reader["ITMDATE"]</strong>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td id="price" class="col-sm-1 col-md-1 text-center">
                                                        <div class="media">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <div>
                                                                <strong>@reader["ITMCATEGORY"]</strong>
                                                            </div>
                                                        </div>
                                                    </td>


                                                    <td class="col-sm-1 col-md-1">
                                                        <button type="button" id="btnRemove" class="btnRemove btn btn-danger">
                                                            <span class="glyphicon glyphicon-remove"></span> Remove
                                                        </button>
                                                    </td>
                                                </tr>

                                            }
                                            <tr>
                                                <td>   </td>
                                                <td>   </td>
                                                <td>   </td>
                                                <td>   </td>
                                                <td>   </td>
                                            </tr>
                                            <tr>
                                                <td>   </td>
                                                <td>   </td>
                                                <td>   </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ProductEntry", "Home")'">
                                                        <span class="glyphicon glyphicon-plus"></span> Add Product
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("UpdateProduct", "Home")'">
                                                        Update Product <span class="glyphicon glyphicon-pencil"></span>
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    }

                }
            }
        }

    }
</body>
</html>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(".btnRemove").each(function () {

        $(this).click(function () {
            var itmnum = $(this).closest('#items').find('.itmnum').html();

            $.post("../Home/RemoveItem", {
                itmnum: itmnum
            }, function (itmnum) {

                alert("ITEM (" + itmnum + ") has been deleted!");
                location.reload();

            });


        });
    });

</script>
