@using System;
@using System.Collections.Generic;
@using System.Data;
@using System.Data.SqlClient;
@using System.IO;
@using System.Linq;
@using System.Web;
@using System.Web.Configuration;

@{
    Layout = null;
    if (Session["email"] == null)
    {
        Response.Redirect("~/Home/LogIn");
    }
    else
    {

    }
}
<style>
    body {
        background-image: url('../../photos/alpha-revamped-mobile-legends-wallpaper-hd.jpg');
        background-size: cover;
        background-position: center center;
    }
</style>
<html>
<body>
    <link rel="stylesheet" href="~/Content/showProduct.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/fonts/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("A's E-Game Shop", "Index", "ListAllProducts", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li>@Html.ActionLink("List All Product", "ListAllProducts", "Home")</li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li>@Html.ActionLink("EWALLET", "Ewallet", "Home")</li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li>
                        <button class="btn-sm" value="MyCart" onclick="location.href='@Url.Action("Payment","Home")'">
                            <span>
                                <img src="~/photos/Cart-PNG-Transparent.png" height="30" width="30" />
                            </span>
                            <span>My Cart</span>
                        </button>
                    </li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                    <li><a href=""><span class="badge">Balance:₱ @Session["bal"]</span></a></li>
                    <li><a href=""></a></li>
                    <li><a href="@Url.Action("LogOut","Home")">Log Out</a></li>

                </ul>

            </div>
        </div>
    </div>
    @{
        string connDB = WebConfigurationManager.ConnectionStrings["connDB"].ConnectionString;
        double totalPrice = 0;
        double subTotal = 0;
        using (var db = new SqlConnection(connDB))
        {
            db.Open();
            using (var cmd = db.CreateCommand())
            {
                cmd.CommandType = CommandType.Text;
                cmd.CommandText = "SELECT * FROM ORDERTBL WHERE EMAIL ='"+ Session["email"].ToString() + "'";
                using (var reader = cmd.ExecuteReader())
                {
                    if (reader.HasRows)
                    {

                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-10 col-md-offset-1 mx-auto">

                                    <div class="section-title mb-50">
                                        <span style="color:white;">YOUR CART</span>
                                        <h2 style="color:white;">ORDERS</h2>
                                    </div>


                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th style="color:white;">Product</th>
                                                <th style="color:white;">Quantity</th>
                                                <th style="color:white;" class="text-center">Price</th>
                                                <th style="color:white;" class="text-center">Total</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>


                                            @while (reader.Read())
                                            {
                                                subTotal = Convert.ToDouble(reader["ITMPRICE"]) * Convert.ToDouble(reader["ITMQTY"]);

                                                <tr id="items">
                                                    <td class="col-sm-8 col-md-6">
                                                        <div class="media">
                                                            <a class="thumbnail pull-left" href="#"> <img class="media-object" src="../Home/Image?filename=@HttpUtility.UrlEncode(reader["ITMIMG"]+"")" style="width: 72px; height: 72px;"> </a>
                                                            <div class="media-body">

                                                                <h5 class="itmnum media-heading">@reader["ITMNO"]</h5>
                                                                <h5 class="itmnum media-heading">@reader["ITMNAME"]</h5>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="col-sm-1 col-md-1" style="text-align: center">
                                                        <input type="email" class="form-control" id="QTY" value="@reader["ITMQTY"]">
                                                    </td>
                                                    <td id="price" class="col-sm-1 col-md-1 text-center"><strong>@reader["ITMPRICE"]</strong></td>

                                                    <td class="col-sm-1 col-md-1 text-center"><strong>@subTotal</strong></td>
                                                    <td class="col-sm-1 col-md-1">
                                                        <button type="button" id="btnCancel" class="btnCancel btn btn-danger">
                                                            <span class="glyphicon glyphicon-remove"></span> Remove
                                                        </button>
                                                    </td>
                                                </tr>

                                                totalPrice += Convert.ToDouble(reader["ITMQTY"]) * Convert.ToDouble(reader["ITMPRICE"]);
                                            }
                                            <tr>
                                                <td>   </td>
                                                <td>   </td>
                                                <td>   </td>
                                                <td><h3 style="color:white;">Total</h3></td>
                                                <td class="text-right"><h3 class="thisPrice" style="color:white;"><span>₱</span>@totalPrice<span>.00</span></h3></td>
                                            </tr>
                                            <tr>
                                                <td>   </td>
                                                <td>   </td>
                                                <td>   </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ListAllProducts", "Home")'">
                                                        <span class="glyphicon glyphicon-shopping-cart"></span> Buy More
                                                    </button>
                                                </td>
                                                <td>
                                                    <button type="button" id="btnPay" class="btn btn-success">
                                                        Checkout <span class="glyphicon glyphicon-play"></span>
                                                    </button>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                    }

                }
            }
        }

    }
</body>
</html>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(".btnCancel").each(function () {

        $(this).click(function () {
            var itmnum = $(this).closest('#items').find('.itmnum').html();

            $.post("../Home/RemoveCart", {
                itmnum: itmnum
            }, function (itmnum) {

                alert("ITEM " + itmnum + " has been deleted to cart!");
                location.reload();

            });


        });
    });

    $("#btnPay").click(function () {
        Swal.fire({
            title: 'Confirm Payment',
            html: `<input type="text" id="fname" class="swal2-input" placeholder="First Name">
                           <input type="text" id="lname" class="swal2-input" placeholder="Last Name">
                           <input type="text" id="paym" class="swal2-input" placeholder="Pay Method">
                           <input type="text" id="address" class="swal2-input" placeholder="Delivery Address">
                           <input type="text" id="amount" class="swal2-input" placeholder="Total Amount">`,
            confirmButtonText: 'Confirm',
            focusConfirm: false,
            preConfirm: () => {
                const fname = Swal.getPopup().querySelector('#fname').value
                const lname = Swal.getPopup().querySelector('#lname').value
                const address = Swal.getPopup().querySelector('#address').value
                const paym = Swal.getPopup().querySelector('#paym').value
                const amount = Swal.getPopup().querySelector('#amount').value
                if (!lname || !address) {
                    Swal.showValidationMessage(`Please enter the details`)
                }

                $.post("../Home/Deduct", {
                    fname: fname,
                    lname: lname,
                    address: address,
                    amount: amount,
                    paym: paym

                });
                $.get("../Home/Pay", function (deleted){
                    if (deleted) {
                        alert("Thank you for Shopping!");
                        location.reload()
                    }
                });
                
            }
        });        
           
    });
</script>
